<p-tabView>
    <p-tabPanel header="Movimientos">
        <div class="card">
            <p-table #dt1 [tableStyle]="{'min-width': '25rem'}"
            [globalFilterFields]="['nombre','categoria.nombre']">
                <ng-template pTemplate="caption">
                    <div class="flex justify-content-between flex-wrap">
                        <span class="p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" (input)="dt1.filterGlobal(getValueEvent($event), 'contains')" placeholder="Buscar" />
                        </span>
                        <p-calendar [(ngModel)]="date" dateFormat="dd/mm/yy" selectionMode="range" [showIcon]="true" [readonlyInput]="true"></p-calendar>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th pSortableColumn="id" style="width:8%">N° <p-sortIcon field="id"></p-sortIcon></th>
                        <th pSortableColumn="fecha" style="width:13%">Fecha <p-sortIcon field="fecha"></p-sortIcon></th>
                        <th pSortableColumn="producto" style="width:20%">Producto <p-sortIcon field="producto"></p-sortIcon></th>
                        <th pSortableColumn="categoria" style="width:16%">Categoría <p-sortIcon field="categoria"></p-sortIcon></th>
                        <th pSortableColumn="motivo" style="width:16%">Motivo <p-sortIcon field="motivo"></p-sortIcon></th>
                        <th pSortableColumn="cantidad" style="width:12%">Cantidad <p-sortIcon field="cantidad"></p-sortIcon></th>
                        <th pSortableColumn="operacion" style="width:13%">Operación <p-sortIcon field="operacion"></p-sortIcon></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-item>
                    <tr>
                        <td>{{item.id}}</td>
                        <td>{{item.fecha}}</td>
                        <td>{{item.producto.nombre}}</td>
                        <td>{{item.categoria.nombre}}</td>
                        <td>{{item.motivo.nombre}}</td>
                        <td>{{item.cantidad}}</td>
                        <td>{{item.operacion}}</td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="emptymessage">
                    <tr>
                        <td colspan="7">No hay coincidencias en producto.</td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </p-tabPanel>
    <p-tabPanel header="Restaurante">
        <div class="card">
            <p-table #dt2 [value]="items" [tableStyle]="{'min-width': '25rem'}"
            [globalFilterFields]="['producto.nombre','producto.categoria.nombre']" [loading]="loading">
                <ng-template pTemplate="caption">
                    <div class="flex justify-content-between flex-wrap">
                        <span class="p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" (input)="dt2.filterGlobal(getValueEvent($event), 'contains')" placeholder="Buscar" />
                        </span>
                        <p-calendar [(ngModel)]="date" dateFormat="dd/mm/yy" selectionMode="range" [maxDate]="maxDate" [showIcon]="true" [readonlyInput]="true" (onSelect)="getResumenRestaurante()"></p-calendar>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th pSortableColumn="id" style="width:10%">N° <p-sortIcon field="id"></p-sortIcon></th>
                        <th pSortableColumn="fecha" style="width:30%">Fecha <p-sortIcon field="fecha"></p-sortIcon></th>
                        <th pSortableColumn="producto" style="width:20%">Producto <p-sortIcon field="producto"></p-sortIcon></th>
                        <th pSortableColumn="categoria" style="width:20%">Categoría <p-sortIcon field="categoria"></p-sortIcon></th>
                        <th pSortableColumn="cantidad" style="width:20%">Cantidad <p-sortIcon field="cantidad"></p-sortIcon></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-item>
                    <tr>
                        <td>{{item.id}}</td>
                        <td>{{item.fecha | date:'dd/MM/yyyy HH:mm:ss'}}</td>
                        <td>{{item.producto?.nombre}}</td>
                        <td>{{item.producto?.categoria?.nombre}}</td>
                        <td>{{item.cantidad}}</td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="emptymessage">
                    <tr>
                        <td colspan="7">No hay coincidencias en producto.</td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </p-tabPanel>
    <p-tabPanel header="Inventario">
        <div class="card">
            <p-table #dt1 [tableStyle]="{'min-width': '25rem'}"
            [globalFilterFields]="['nombre','categoria.nombre']">
                <ng-template pTemplate="caption">
                    <div class="flex">
                        <span class="p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" placeholder="Buscar" />
                        </span>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th pSortableColumn="id" style="width:10%">N° <p-sortIcon field="id"></p-sortIcon></th>
                        <th pSortableColumn="nombre" style="width:20%">Categoría <p-sortIcon field="nombre"></p-sortIcon></th>
                        <th pSortableColumn="categoria" style="width:20%">Nombre <p-sortIcon field="categoria"></p-sortIcon></th>
                        <th pSortableColumn="cantidad" style="width:20%">Restaurante <p-sortIcon field="cantidad"></p-sortIcon></th>
                        <th pSortableColumn="stockmin" style="width:20%">Bodega <p-sortIcon field="stockmin"></p-sortIcon></th>
                        <th pSortableColumn="stockmin" style="width:10%">Total <p-sortIcon field="stockmin"></p-sortIcon></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-item>
                    <tr>
                        <td>{{item.id}}</td>
                        <td>{{item.categoria.nombre}}</td>
                        <td>{{item.nombre}}</td>
                        <td>{{item.inventariorestaurante.cantidad}}</td>
                        <td>{{item.inventariobodega.cantidad}}</td>
                        <td></td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="emptymessage">
                    <tr>
                        <td colspan="7">No hay coincidencias en producto.</td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </p-tabPanel>
</p-tabView>